body{background:#fff;width:100%}
ul.err-area li{color:red}
.tabla-datos{float:left;display:inline-block}
.tabla-datos table{border-collapse:collapse;border:1px solid #ddd;}
.page-data{float:left;display:inline-block;}
