<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<h1>Cantidad de estudiantes: </h1>
<h2>
      <%=rows[0].cantidad%>
</h2>

</body>
</html>
