<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <script type="text/javascript" src="/../js/jquery-1.10.2.min.js"></script>
        <link rel="stylesheet" href="/../css/style.css">
    </head>
<body>
<h1>Bienvenido</h1>

<b>Seleccione la consulta que desea hacer:</b><br><br>
<form method="get" action="/api/consultaprofesores">
<input type="submit" value="Profesores"></input><br><br>
</form>

<form method="get" action="/api/consultaestudiantes">
<input type="submit" value="Estudiantes"></input><br><br>
</form>

<form method="get" action="/api/consultamaterias">
<input type="submit" value="Materias"></input><br><br>
</form><br>

<b>Consultar cantidad de estudiantes por semestre:</b><br><br>
Ingrese el semestre (Entero):<br>
<form method="get" action="/api/consultaestudiantessemestre">
<input type="text" name="semestre" id="semestre"><br><br>
<input type="submit" value="Consultar"></input><br><br>
</form><br><br>

<b>Consultar cantidad de profesores por escuela:</b><br><br>
Ingrese la escuela (String):<br>
<form method="get" action="/api/consultaprofesoresescuela">
<input type="text" name="escuela" id="escuela"><br><br>
<input type="submit" value="Consultar"></input><br><br>
</form><br><br>

<b>Actualizar datos del estudiante:</b><br><br>
Ingrese el código del estudiante a modificar (Entero):<br>
<form method="get" action="/api/modificacion">
<input type="text" name="id" id="id"><br><br>
Ingrese el primer nombre para modificar (String):<br>
<input type="text" name="pne" id="pne"><br><br>
Ingrese el primer apellido para modificar (String):<br>
<input type="text" name="pae" id="pae"><br><br>
<input type="submit" value="Consultar"></input><br><br>
</form><br><br>

<b>Eliminar estudiante:</b><br><br>
Ingrese el código del estudiante a eliminar (Entero):<br>
<form method="get" action="/api/eliminacion">
<input type="text" name="eliminarestudiante" id="eliminarestudiante"><br><br>
<input type="submit" value="Consultar"></input><br><br>
</form><br><br>

</body>
</html>
