<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
<body>
<h1>Tabla de Cantidad de Estudiantes en el semestre <%=semestre%>:</h1>

<table border="1">
  <tr>
    <th>Semestre</th>
    <th>Cantidad Estudiantes</th>
  </tr>

    <tr>
      <td><%=semestre%></td>
      <td><%=cantidad%></td>
    </tr>

</table>

</body>
</html>
