<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
<body>
<h1>La cantidad de profesores que pertenecen a la escuela de <%=escuela%> son: </h1>
<h1>
  <font color="blue">
      <%=rows[0].cantidad%>
  </font>
</h1>

</body>
</html>
