<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
</head>
<body>
<h1>Imprime la cantidad de primos entre 0 y 100000.</h1>
<font color="blue">
  <h1>
      <%=size%>
  </h1>
</font>
</body>
</html>
