<!DOCTYPE html>
<html>
    <head>
        <title>NodeJS</title>
    </head>
<body>
<h1>Bienvenido</h1>

<b>Seleccione la consulta que desea hacer:</b><br><br>

<form method="get" action="/ConsultaEstudiante">
<input type="submit" value="Estudiantes"></input><br><br>
</form>

<form method="get" action="/ConsultaProfesor">
<input type="submit" value="Profesores"></input><br><br>
</form>

<form method="get" action="/ConsultaMateria">
<input type="submit" value="Materias"></input><br><br>
</form>

<b>Consultar cantidad de estudiantes por semestre:</b><br><br>
Ingrese el semestre:<br>
<form method="get" action="/ConsultaEstudianteSemestre">
<input type="text" name="semestre" id="semestre"><br><br>
<input type="submit" value="Consultar"></input><br><br>
</form><br>

<b>Consultar cantidad de profesores por escuela:</b><br><br>
Ingrese el nombre de la escuela:<br>
<form method="get" action="/ConsultaProfesorEscuela">
<input type="text" name="escuela" id="escuela"><br><br>
<input type="submit" value="Consultar"></input>
</form>

<h1>Insertar y eliminar registros:</h1>
Ingrese el id:<br>
<form action='/InsertarEliminar' method='get'>
<input type='text' name='id'/>
<br><br>
<input type='submit' value='Insertar y eliminar'/>
</form>
<br>

<h1>Contar Primos:</h1>
<form action='/ContarPrimos' method='get'>
<input type='submit' value='Contar Primos' />
</form>
</br>

</body>
</html>
